body {
	top:0;
	bottom:0;
	left:0;
	position:relative;
	background-color: LightSkyBlue;
	font-family: myfont;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
	position:relative ;
	top:0;
	background-color:  #778899  ;
}
li{
	float:left;
	color: green;
}
li a{
	float:left;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color:blue;
	background-color: #778899 ;
	text-align: center;
}

li a:hover{
	color:black;
	background-color: white;
}


h1 { 
	color: DarkMagenta  ;
	text-align: center;	
}
div.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:20%;
}
a[href^="mailto"]{
	font-family: times;
	color:black;
	font-size:25px;
}
a[href^="mailto"]:hover{
	background-color: red;
	color:orange ;
}
img.facebook:hover{
	opacity:.75;
}
@font-face{
	font-family: myfont;
	src:url(media/Nadia Sofia.ttf);
}